@import "/mediaqueries.css";

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather Sans";
  background: var(--body-bg-color);
  color: var(--text-color);
}

a {
  font-size: 14px;
  color: var(--text-color);
  text-decoration: none;
}

.estrutura {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 60px;
  margin: 20px 0;
}

.card {
  padding: 20px;
  background: var(--bg-cards);
  color: var(--text-color);
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Coluna do Perfil */

.perfil-col {
  margin: 0 40px;
}

.perfil-col > div + div {
  margin-top: 30px;
}

.perfil-nome {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.perfil-nome h3,
p {
  text-align: center;
  margin-top: 10px;
}

.perfil-nome img {
  max-width: 50%;
  margin: 0 auto;
  border-radius: 50%;
}

.perfil-contatos > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.perfil-contatos > div + div {
  margin-top: 15px;
}

.perfil-tools h3 {
  margin-bottom: 15px;
}

.perfil-tools > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.perfil-tools span {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  background: #cb92b1;
  color: #000;
  border-radius: 30px;
}

.perfil-experience ul,
.perfil-education ul {
  margin: 20px 50px 0;
  margin-left: 50px;
}

.perfil-experience ul li + li,
.perfil-education ul li + li {
  margin-top: 15px;
}

/* Coluna do Activity */

.activity-col {
  margin-right: 40px;
}

.activity-col .projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 30px 0;
}

.repo h4 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.repo p {
  margin: 20px 0;
  text-align: start;
}

.repo .repo-icons {
  display: flex;
  justify-content: space-between;
}

.repo .repo-icons > span::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: #e7de79;
  border: 1px solid #837e9f;
  border-radius: 50%;
}

.repo .star-branch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.repo .star-branch img[alt="Ãcone de uma branch"] {
  margin-left: 10px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 30px;
}

.posts img {
  max-width: 130px;
  border-radius: 50%;
}

.posts-col2 {
  flex: 1;
  margin-left: 30px;
}

.posts-col2 > div {
  margin-bottom: 30px;
}

.posts-col2 > div h4 {
  margin-bottom: 10px;
}

.posts-col2 p {
  text-align: start;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .repo-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1050px) {
  .estrutura {
    grid-template-columns: 1fr;
  }
  .activity-col {
    margin: 0 40px;
  }
}

@media (max-width: 540px) {
  .posts {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media (max-width: 450px) {
  .perfil-col,
  .activity-col {
    margin: 0 20px;
  }
  .perfil-tools > div {
    grid-template-columns: 1fr;
  }
}
